*~
*.swp
*.orig
hdl/syn/*.runs*

######################
# Compilation files
######################

*Makefile
*transcript
*make_*
*_history

######################
# Modelsim
######################

*.wlf
work/

######################
# Temporary files
######################

*#*

######################
# Vivado files
######################

*.jou
*.log
*.str
*.xpr
*.edif
*.mif
.Xil/

######################
# Repo-specific files
######################

/hdl/modules/machine/*/cos_lut_uvx_18_65
!/hdl/modules/machine/*/cos_lut_uvx_18_65/*.xci
!/hdl/modules/machine/*/cos_lut_uvx_18_65/*.xml
!/hdl/modules/machine/*/cos_lut_uvx_18_65/*.coe
!/hdl/modules/machine/*/cos_lut_uvx_18_65/*.mif
!/hdl/modules/machine/*/cos_lut_uvx_18_65/synth/*.vhd
/hdl/modules/machine/*/sin_lut_uvx_18_65
!/hdl/modules/machine/*/sin_lut_uvx_18_65/*.xci
!/hdl/modules/machine/*/sin_lut_uvx_18_65/*.xml
!/hdl/modules/machine/*/sin_lut_uvx_18_65/*.coe
!/hdl/modules/machine/*/sin_lut_uvx_18_65/*.mif
!/hdl/modules/machine/*/sin_lut_uvx_18_65/synth/*.vhd
/hdl/modules/machine/*/sw_windowing_n_251_tukey_0_2
!/hdl/modules/machine/*/sw_windowing_n_251_tukey_0_2/*.xci
!/hdl/modules/machine/*/sw_windowing_n_251_tukey_0_2/*.xml
!/hdl/modules/machine/*/sw_windowing_n_251_tukey_0_2/*.coe
!/hdl/modules/machine/*/sw_windowing_n_251_tukey_0_2/*.mif
!/hdl/modules/machine/*/sw_windowing_n_251_tukey_0_2/synth/*.vhd
/hdl/modules/machine/*/sin_lut_uvx_35_148
!/hdl/modules/machine/*/sin_lut_uvx_35_148/*.xci
!/hdl/modules/machine/*/sin_lut_uvx_35_148/*.xml
!/hdl/modules/machine/*/sin_lut_uvx_35_148/*.coe
!/hdl/modules/machine/*/sin_lut_uvx_35_148/*.mif
!/hdl/modules/machine/*/sin_lut_uvx_35_148/synth/*.vhd
/hdl/modules/machine/*/cos_lut_uvx_35_148
!/hdl/modules/machine/*/cos_lut_uvx_35_148/*.xci
!/hdl/modules/machine/*/cos_lut_uvx_35_148/*.xml
!/hdl/modules/machine/*/cos_lut_uvx_35_148/*.coe
!/hdl/modules/machine/*/cos_lut_uvx_35_148/*.mif
!/hdl/modules/machine/*/cos_lut_uvx_35_148/synth/*.vhd
/hdl/modules/machine/*/sin_lut_sirius_52_181
!/hdl/modules/machine/*/sin_lut_sirius_52_181/*.xci
!/hdl/modules/machine/*/sin_lut_sirius_52_181/*.xml
!/hdl/modules/machine/*/sin_lut_sirius_52_181/*.coe
!/hdl/modules/machine/*/sin_lut_sirius_52_181/*.mif
!/hdl/modules/machine/*/sin_lut_sirius_52_181/synth/*.vhd
/hdl/modules/machine/*/cos_lut_sirius_52_181
!/hdl/modules/machine/*/cos_lut_sirius_52_181/*.xci
!/hdl/modules/machine/*/cos_lut_sirius_52_181/*.xml
!/hdl/modules/machine/*/cos_lut_sirius_52_181/*.coe
!/hdl/modules/machine/*/cos_lut_sirius_52_181/*.mif
!/hdl/modules/machine/*/cos_lut_sirius_52_181/synth/*.vhd
/hdl/modules/machine/*/sin_lut_sirius_50_191
!/hdl/modules/machine/*/sin_lut_sirius_50_191/*.xci
!/hdl/modules/machine/*/sin_lut_sirius_50_191/*.xml
!/hdl/modules/machine/*/sin_lut_sirius_50_191/*.coe
!/hdl/modules/machine/*/sin_lut_sirius_50_191/*.mif
!/hdl/modules/machine/*/sin_lut_sirius_50_191/synth/*.vhd
/hdl/modules/machine/*/cos_lut_sirius_50_191
!/hdl/modules/machine/*/cos_lut_sirius_50_191/*.xci
!/hdl/modules/machine/*/cos_lut_sirius_50_191/*.xml
!/hdl/modules/machine/*/cos_lut_sirius_50_191/*.coe
!/hdl/modules/machine/*/cos_lut_sirius_50_191/*.mif
!/hdl/modules/machine/*/cos_lut_sirius_50_191/synth/*.vhd

######################
# Impact files
######################

*impact.xsl
*impact_impact.xwbt
*usage_statistics_webtalk.html
*webtalk_impact.xml
