[submodule "hdl/ip_cores/general-cores"]
	path = hdl/ip_cores/general-cores
	url = https://github.com/lnls-dig/general-cores.git
[submodule "hdl/ip_cores/dsp-cores"]
	path = hdl/ip_cores/dsp-cores
	url = https://github.com/lnls-dig/dsp-cores.git
[submodule "hdl/ip_cores/infra-cores"]
	path = hdl/ip_cores/infra-cores
	url = https://github.com/lnls-dig/infra-cores
[submodule "hdl/ip_cores/afc-gw"]
	path = hdl/ip_cores/afc-gw
	url = https://github.com/lnls-dig/afc-gw
