*~
*.swp
*.orig
hdl/syn/*.runs*

######################
# Compilation files
######################

*Makefile
*transcript
*make_*
*_history

######################
# Modelsim
######################

*.wlf

######################
# Temporary files
######################

*#*
