#editor temporary files
*~
#Coregen stuff
*.log
*.txt
*.asy
*.vho
*.veo
*.gise
*.tcl
*.ncf
*.sym
tmp/
*/*.csv
*/example_design/
*/implement/
*/simulation/
*/docs/
axi_datamover_0/
axi_interconnect/
ddr_core/
pcie_core/

